/* Custom Styles  */
#ui5Logo {
    padding-left: 10px !important;
}
#myproLink {
    color: #ffffff !important;
}
.welcomeText {
	font-size: 1.0rem !important;
	margin: 2rem !important;
}
.sapMITBHead {
  white-space: normal !important;
}
.sapMITBFilter .sapMITBText {
  padding: 0.05rem 0 0 !important;
}
.sapMLabel {
    font-size: 0.675rem !important;
}

.customTile {
	margin-top: 35px;
    margin-left: 35px;
    margin-right: 35px;
}


.RecastApp .RecastAppExpander  {
    position: fixed;
    right: 92% !important;
    bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 6px lightgrey, 0 2px 32px lightgrey;
    box-shadow: 0 1px 6px lightgrey, 0 2px 32px lightgrey;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.RecastApp .RecastAppChat {
    left: 10px !important;
    bottom: 10px;
    border-radius: 3px;
    top: auto;
    left: auto;
    width: 370px;
    height: auto;
    -webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
}